@using System.Web.Configuration
@model IEnumerable<FootballTeamManager.Models.Fixture>
@{
    ViewBag.Title = "Terminarz";
}

<h2>Terminarz</h2>

<table class="table table-bordered table-hover">
<thead>
<tr>
    <th>Fixture</th>
    <th>First team</th>
    <th>Second team</th>
    <th>Score</th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var fixture in Model)
{
    <tr>
        <td>@fixture.Date</td>
        <td>@Html.ActionLink(fixture.FirstTeam.Name, "Details", "Team", new { Id = fixture.FirstTeam.Id }, null)</td>
        <td>@Html.ActionLink(fixture.SecondTeam.Name, "Details", "Team", new { Id = fixture.SecondTeam.Id }, null)</td>
        <td>@fixture.FirstTeamScore : @fixture.SecondTeamScore</td>
        <td>
        @Html.ActionLink("Edit", "Edit", new { id= fixture.Id }) |
        @Html.ActionLink("Details", "Details", new { id= fixture.Id }) 
        </td>
    </tr>
}
</tbody>
</table>




