@model IEnumerable<FootballTeamManager.Models.Ranking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ranking</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Miejsce</th>
        <th>Zawodnik</th>
        <th>Mecze</th>
        <th>Wygrane</th>
        <th>Remisy</th>
        <th>Porażki</th>
        <th>Skill</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Place</td>
            <td>@Html.ActionLink(player.Player.Name, "Details", "Players", new { Id = player.Player }, null)</td>
            <td>@player.Matches</td>
            <td>@player.Wins</td>
            <td>@player.Draws</td>
            <td>@player.Loses</td>
            <td>@player.Player.Skill</td>
        </tr>
    }
    </tbody>
</table>

