@model IEnumerable<FootballTeamManager.ViewModels.RankingDisplayViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ranking</h2>

<table id="ranking" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Zmiana</th>
        <th>Miejsce</th>
        <th>Zawodnik</th>
        <th>Mecze</th>
        <th>Wygrane</th>
        <th>Remisy</th>
        <th>Porażki</th>
        <th>Skill</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var playerRanking in Model)
    {
        <tr>
            <td><img src="@Url.Content("~/Content/Images/down-arrow-red.png")" alt="" height="40" width="40"/></td>
            <td>@playerRanking.PlayerRanking.Place</td>
            <td>@Html.ActionLink(playerRanking.Player.Name, "Details", "Player", new {Id = playerRanking.Player.Id}, null)</td>
            <td>@playerRanking.PlayerRanking.Matches</td>
            <td>@playerRanking.PlayerRanking.Wins</td>
            <td>@playerRanking.PlayerRanking.Draws</td>
            <td>@playerRanking.PlayerRanking.Loses</td>
            <td>@playerRanking.PlayerRanking.Player.Skill</td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
<script>
  $(function(){
    $("#ranking").dataTable();
  })
</script>
    }

