<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FootballTeamManager Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Terminarz", "Index", "Fixture", new { area = "" },  htmlAttributes: new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ranking", "Index", "Ranking", routeValues: null,  htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Losowanie", "Index", "Draw", routeValues: null,  htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Spis graczy", "Index", "Player", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FootballTeamManager Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
