@using System.Web.Configuration
@*@model IEnumerable<FootballTeamManager.Models.Team>*@
@model FootballTeamManager.Models.Team
@{
    ViewBag.Title = "Losowanie";
}




<!DOCTYPE html>
<html>
<body>
   


  

        <script type="text/javascript">

          

            window.onload = function(){
             //debugger;
                window.displayCOUNTER = 1;
                function cycleImage() {
                    displayImgCount = displayCOUNTER;

                    document.getElementById("player" + displayImgCount).style.display = "block";
                    document.getElementById("tekst" + displayImgCount).style.display = "block";
                        displayCOUNTER++;
                        setTimeout(cycleImage, 1500);
                 }
                cycleImage();

            }
            while (displayCOUNTER != 4) {

                cycleImage();
               
            }

 
        </script>
   
  
    <div class="containerdiv">

        <img class="boisko"  src="~/Content/themes/base/images/Pitch.png">
        <img class="imgB1" id="player1" src="https://cdn0.iconfinder.com/data/icons/england/154/england-sport-wear-shirt-uniform-football-128.png">
       
        <img class="imgB2" id="player2" src="https://cdn0.iconfinder.com/data/icons/england/154/england-sport-wear-shirt-uniform-football-128.png">     
        <img class="imgB3" id="player3"  src="https://cdn0.iconfinder.com/data/icons/england/154/england-sport-wear-shirt-uniform-football-128.png">   
      
   
        <p class="tekst_koszulka1" id="tekst1">@Model.GetPlayerFromFirstTeam(1)</p>
        <p class="tekst_koszulka2" id="tekst2">@Model.GetPlayerFromFirstTeam(2)</p>
        <p class="tekst_koszulka3" id="tekst3">@Model.GetPlayerFromFirstTeam(3)</p >

        </ div >
    @*src="~/Content/themes/base/images/Chelsea-Home-icon.png">*@


    @*<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Skill</th>
                <th>team</th>
                <th>id</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fixture in Model)
            {
                <tr>
                    <td>@fixture.Name</td>
                    <td>@fixture.Skill</td>
                    <td>@fixture.TeamNumber</td>
                    <td>@fixture.Id</td>
                    
                    <td>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>*@




    
</body>
    </html>



